@model Todo

<h1>Create TODO</h1>

<form asp-action="Store" method="post">
    <div class="mb-3">
        <label class="form-label">@Html.DisplayNameFor(model => model.Description)</label>
        <input asp-for="Description" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">@Html.DisplayNameFor(model => model.Priority)</label>
        <select asp-for="Priority" class="form-select" asp-items="@Html.GetEnumSelectList<Priority>()"></select>
    </div>
    <button type="submit" class="btn btn-primary btn-sm">Save</button>
</form>